# 文件夹
build/
.vscode/
.idea/
log/
cmake-build-debug/
cmake-build-release/

# 其他文件
*.conf
*.jpg
*.png

# sound
*.wav
*.flac

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app